@use 'variables' as v;

@mixin breakpoint($bp) {
  @if $bp == tablet {
    @media (min-width: v.$bp-tablet) {
      @content;
    }
  }

  @if $bp == tablethorizontal {
    @media (min-width: v.$bp-tablet-horizontal) {
      @content;
    }
  }

  @if $bp == desktop {
    @media (min-width: v.$bp-desktop) {
      @content;
    }
  }

  @if $bp == desktopxl {
    @media (min-width: v.$bp-desktop-xl) {
      @content;
    }
  }
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin button {
  display: inline-block;
  background-color: v.$dark-blue;
  color: v.$white;
  padding: 12px 25px;
  border-radius: 32px;
  font-weight: 400;
  text-decoration: none;
}

@mixin btn--video-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: v.$white;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    filter: drop-shadow(0px 24px 50px rgba(0, 0, 0, 0.15));
}