// Variables for the project
$bp-tablet: 48rem; // 768px
$bp-tablet-horizontal: 64rem; // 1024px
$bp-desktop: 75rem; // 1200px
$bp-desktop-xl: 90rem; // 1440px

// Variables for fonts
$poppins-font: "Poppins", sans-serif;
$nunito_sans-font: "Nunito Sans", sans-serif;

// Size container
$max-width-container: 1350px;

// Colors
$bg-gray: #FAF8F5;
$bg-blue: #A9D6CB;
$dark-blue: #264065;
$gray: #909090;
$black: #070D15;
$white: #FFFFFF;