@use '@abstracts/variables' as v;
@use '@abstracts/mixins' as mx;

.btn--primary {
    @include mx.button;
    
}

.hero {
    .btn--primary {
        transition: all .3s ease-in-out;
    }

    .btn--primary:hover {
        background-color: v.$bg-gray;
        color: v.$dark-blue;
    }
}

.btn--video-icon {
    @include mx.btn--video-icon;
    
    img {
        width: 24px;
        height: 24px;
    }
}


.video-link {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: v.$dark-blue;
    cursor: pointer;
    transition: transform .3s ease-in-out;
    
    span {
        font-weight: 400;
    }

    &:hover {
        transform: scale(1.1);
    }
}