@use '@abstracts/variables' as v;
@use '@abstracts/mixins' as mx;

.hero {
    display: flex;

    .hero__content {
        max-width: 50%;

        &_title {
            color: v.$dark-blue;
            font-size: 52px;
            line-height: 75px;
            margin-bottom: 32px;
            max-width: 90%;
        }

        &_description {
            color: v.$gray;
            font-size: 20px;
            line-height: 35px;
            margin-bottom: 32px;
        }

        .hero__actions {
            display: flex;
            align-items: center;
            gap: 32px;
            margin-bottom: 90px;
        }

        .hero__stats {
            display: flex;
            gap: 72px;
            justify-content: space-between;
            align-items: center;
            // margin-top: -40px;
            padding: 32px;
            background-color: rgba(v.$white, .8);
            backdrop-filter: blur(8px);
            border-radius: 16px;
        }
    }

    .hero__visual {
        position: relative;
        max-width: 50%;

        .hero__image {
            position: relative;
            width: 100%;
            height: 750px;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center top;
            }

            &::before {
                content: '';
                background-image: url("../img/flower-hero.svg");
                position: absolute;
                width: 100%;
                height: 100%;
                top: -71px;
                left: 173px;
                background-position: top center;
                background-size: 500px;
                background-repeat: no-repeat;
                z-index: -1;
            }
        }

        .hero__testimonial {
            position: absolute;
            border-radius: 16px;
            background: rgba(255, 255, 255, 0.50);
            backdrop-filter: blur(8px);
            padding: 24px;
            font-size: 15px;
            max-width: 50%;

            blockquote {
                margin: 8px 0;
            }

            .author {
                color: v.$dark-blue;
                font-weight: 700;
                font-style: normal;
            }

            &--top {
                top: 230px;
                right: -190px;
            }
            
            &--bottom {
                bottom: 0px;
                right: -75px;
            }
        }
    }
}