@use '@abstracts/variables' as v;

body {
    background: linear-gradient(to right, v.$bg-gray 64%, v.$bg-blue 36%);
    position: relative;
    overflow-y: auto;
    
    // Establece una altura máxima para el body
    height: auto;
    
    &::before {
        content: '';
        position: absolute;
        height: 240px;
        top: calc(100% - 180px); // Coloca el elemento justo después del contenido real
        left: 0px;
        right: 0px;
        background-color: v.$white;
        z-index: -1;
    }
}